$fontInter: "Inter";
$fontRoboto: "Roboto";

/* BANNER */

.banner {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 280px;
  padding-top: 181px;
  overflow: hidden;
  .banner__title {
    font-family: $fontInter;
    font-style: normal;
    font-weight: 900;
    font-size: 61px;
    line-height: 137%;
    color: #000000;
    margin-bottom: 57px;
  }
  .banner__text {
    font-family: $fontRoboto;
    font-size: 20px;
    line-height: 175.1%;
    color: #9da8b6;
    margin-bottom: 20px;
    width: 50%;
  }
  .banner__break {
    width: 90%;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    margin-left: 14px;
  }
  .banner__endText {
    font-family: $fontInter;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ff7616;
  }
}
