@import "./styles";

.carousel {
  @include width1440();
  .carousel__container {
    position: relative;
    max-width: 1229px !important;
    overflow: hidden;
    display: flex;
    margin-right: 0;
    padding-left: 79px;
    height: 900px;
    display: flex;
    background-color: #fff;

    .navigation {
      position: absolute;
      display: flex;
      align-items: center;
      top: 160px;
      .glider-prev {
        position: absolute;
        left: -25px;
        top: 7.5px;
      }
      .glider-next {
        position: absolute;
        top: 7.5px;
        left: 42px;
      }
    }

    .glider {
      display: flex;
      overflow: hidden;

      .carousel__card {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100vw !important;
        padding-top: 110px;
        .navigation__text {
          @include orangeText();
        }

        .carousel__left {
          width: 450px;
          padding-top: 60px;
          .carousel__title {
            font-family: $fontInter;
            font-style: normal;
            font-weight: 900;
            font-size: 48px;
            line-height: 58px;
            color: #00367a;
          }
          .carousel__boldText {
            font-family: $fontInter;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 175.1%;
            color: #00367a;
            margin: 75px 0 36px 0;
          }
          .carousel__text {
            font-family: $fontRoboto;
            font-size: 16px;
            line-height: 175.1%;
            color: #9da8b6;
          }
        }
      }
      .carousel__right {
        position: relative;
        margin-right: 139px;
        margin-top: 170px;

        .cardImg {
          opacity: 0.5;
        }
        .modalCard {
          background-color: #fff;
          box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.09);
          border-radius: 5px;
          display: flex;
          width: 221px;
          height: 45px;
          .modalCard__drop {
            width: 45px;
            display: flex;
            justify-content: center;
          }
          .modal__text {
            width: 161px;
            margin-top: 5px;
            font-family: $fontRoboto;
            font-size: 11px;
            line-height: 152.1%;
            font-weight: 600;
            color: #9da8b6;
          }
        }
      }

      #card__first {
        position: relative;
        .carousel__right {
          position: relative;
          .card__left {
            position: absolute;
            top: 30px;
            left: -20px;
          }
          .card__right {
            position: absolute;
            bottom: 6px;
            left: 73px;
          }
        }
      }

      #card__second {
        margin-top: -80px;
        .carousel__right {
          position: relative;
          .card__left {
            position: absolute;
            top: 222px;
            left: -30px;
          }
          .card__right {
            position: absolute;
            top: 18px;
            left: 165px;
          }
        }
      }

      #card__third {
        margin-top: -110px;
        .carousel__right {
          position: relative;
          .card__left {
            position: absolute;
            top: 177px;
            left: -8px;
          }
          .card__right {
            position: absolute;
            top: 7px;
            left: 70px;
          }
        }
      }

      #card__fourth {
        margin-top: -70px;
        .carousel__right {
          .card__left {
            position: absolute;
            top: 180px;
            left: -48px;
          }
          .card__right {
            position: absolute;
            top: 7px;
            left: -20px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  #card__first {
    @include carouselCard1024();
  }
  #card__second {
    @include carouselCard1024();
  }
  #card__third {
    @include carouselCard1024();
  }
  #card__fourth {
    @include carouselCard1024();
  }
}

@media only screen and (max-width: 768px) {
  .carousel {
    #card__first {
      @include carouselCard768px();
    }
    #card__second {
      @include carouselCard768px();
    }
    #card__third {
      @include carouselCard768px();
    }
    #card__fourth {
      @include carouselCard768px();
    }
  }
}
