@import "./styles";

.content {
  @include width1440();
  padding-top: 169px;
  padding-right: 69px;
  .content__banner {
    padding-left: 79px;
    margin-bottom: 107px;
    .content__bannerTitle {
      @include bigTitle();
      margin-bottom: 36px;
    }
    .content___bannerText {
      @include bigText();
    }
  }

  .content__cardRow {
    padding-left: 79px;
    min-width: 300px;
    max-width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 140px;

    .content__cardText {
      width: 488px;
      .content__cardTitle {
        @include smallTitle();
      }
      .content__cardText {
        @include smallText();
        margin-top: 39px;
      }
    }
    .content__cardImg {
      display: flex;
      justify-content: center;
    }
  }

  .row__first {
    .cardImg {
      position: absolute;
      .cardImg__main {
        opacity: 0.5;
      }
    }
    .content__cardImg {
      position: relative;
      .content__modalCard {
        display: flex;
        width: 249px;
        height: 96px;
        background-color: #fff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        z-index: 22;
        margin-top: 47px;
        margin-left: 82px;

        p {
          width: 200px;
          height: 66px;
          font-family: $fontInter;
          font-weight: 500;
          font-size: 12.8px;
          line-height: 175.1%;
          color: #666666;
          margin: 14px 6px 16px 0;
        }
        img {
          margin: 19px 16px 65px 14px;
        }
      }

      .cardImg__circle {
        position: absolute;
        bottom: 24px;
        right: 15px;
      }
    }
  }

  .row__second {
    .cardImg {
      position: relative;
      .cardImg__circleLeft {
        position: absolute;
        top: 60px;
        left: -4px;
      }
      .cardImg__circleRight {
        position: absolute;
        top: 70px;
        right: 23px;
      }
    }
  }

  .row__third {
    .cardImg {
      position: relative;
      .cardImg__main {
        opacity: 0.5;
      }
      .cardImg__circleLeft {
        position: absolute;
        top: 63px;
        right: 4.5px;
      }
      .cardImg__circleRight {
        position: absolute;
        bottom: 45px;
        right: 125px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .content {
    .content__cardRow {
      .content__cardText {
        width: 320px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding-top: 100px;

    .content__cardRow {
      padding-right: 0;
      padding-left: 79px;
      height: auto;
      flex-wrap: wrap;
      .content__cardText {
        width: 420px;
        margin-bottom: 50px;
      }
    }
    .row__first {
      margin-bottom: 200px;
    }

    .row__second {
      .cardImg {
        order: 2;
      }
      .content__cardText {
        order: 1;
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .content {
    padding: 100px 25px 0 55px;
    .content__banner {
      padding-left: 0;
      margin-bottom: 70px;
    }
    .content__cardRow {
      padding-left: 0;
      padding-right: 25px;
      height: auto;
      flex-wrap: wrap;
      margin-bottom: 80px;
      .content__cardText {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    .row__first {
      margin-bottom: 200px;
    }
    .row__second {
      .cardImg {
        order: 2;
      }
      .content__cardText {
        order: 1;
        margin-bottom: 20px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .content {
    @include paddingLeftRight375px();
    margin-top: 50px;
    .content__banner {
      .content__bannerTitle {
        font-size: 40px;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .content {
    .content__cardRow {
      .cardImg {
        .cardImg__main {
          width: 100%;
        }
      }
    }
    .row__first {
      .content__cardImg {
        padding-left: 25px;
        .content__modalCard {
          margin: 0;
        }
      }
    }
  }
}
