@import "./styles";

footer {
  @include width1440();
  position: relative;
  height: 374px;

  .hrLineTop {
    max-width: 1160px;
    position: absolute;
    top: 41px;
    left: 146px;
  }
  .hrLineBottom {
    max-width: 1160px;
    position: absolute;
    left: 146px;
    bottom: -155px;
  }
  .footer__container {
    @include paddingLeftRight();
    padding-top: 175px;
    display: flex;
    justify-content: space-between;

    margin-bottom: 74px;
    .footer__left {
      width: 345px;
      .footer__logo {
        margin-left: 3px;
        margin-bottom: 8px;
      }
      .footer__text {
        height: 83px;
        @include footerText();
        color: #9da8b6;
        margin-bottom: 12px;
        font-weight: 300;
      }
      .footer__contact {
        @include footerText();
        color: #00367a;
        margin-bottom: 19px;
        img {
          margin-right: 9px;
        }
      }
    }

    .footer__right {
      width: 438px;
      display: flex;
      justify-content: space-between;
      .footer__linkTitle {
        @include footerTitle();
        margin-bottom: 6px;
      }
      .footer_link {
        list-style: none;
        height: 31px;
        margin-bottom: 4px;
        a {
          @include footerText();
          color: #9da8b6;
          text-decoration: none;
        }
      }
    }
  }

  .footer__bottom {
    @include paddingLeftRight();
    @include footerText();
    color: #9da8b6;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 27px;
    margin-bottom: 15px;
    .footer__bottomText {
      display: block;
    }
    .footer__bottomRight {
      display: flex;
      align-items: center;
      .footer__bottomText:nth-child(2) {
        margin: 0 112px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  footer {
    .hrLineTop {
      width: 744px;
    }
    .hrLineBottom {
      width: 744px;
    }
    .footer__container {
      margin-bottom: 24px;
      padding-top: 100px;
    }

    .footer__bottom {
      .footer__bottomRight {
        .footer__bottomText:nth-child(2) {
          margin: 0 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  footer {
    .hrLineTop {
      width: 558px;
    }
    .hrLineBottom {
      width: 558px;
    }
    .footer__container {
      width: 100%;
      padding-top: 100px;
      margin-bottom: 54px;
      flex-wrap: wrap;
    }

    .footer__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      .footer__bottomRight {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
