@import "./styles";

.form__section {
  @include width1440();
  margin-top: 198px;
  position: relative;

  .form__container {
    @include paddingLeftRight();
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .form__right {
      position: relative;

      .googleMap {
        margin-top: 170px;
      }
      .circle {
        position: absolute;
        bottom: 172px;
        left: 220px;
      }
    }
    .form__left {
      width: 441px;
      .form__title {
        @include bigTitle();
        margin-bottom: 36px;
      }
      form {
        display: flex;
        flex-direction: column;
        .form__input {
          @include formText();
          border: 0;
          border-bottom: 1px solid #9da8b6;
          outline-width: 0;
          background-color: transparent;
          margin: 4px 0 28px 0;
        }
        .form__textarea {
          @include formText();
          border: 0;
          outline-width: 0;
          background-color: transparent;
          height: 143px;
        }
        .form__text {
          @include extraSmallText();
        }
        .form__button {
          @include primaryBtn();
          width: 225px;
        }
        .form__checkbox {
          margin-left: -17px;
          height: 64px;
          margin-bottom: 35px;
          @include flexCenter();
          .checkbox__text {
            @include formText();
            margin-top: -15px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .form__section {
    .form__container {
      .form__right {
        .googleMap {
          margin-top: 100px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .form__section {
    .form__container {
      padding-right: 69px;
      .form__right {
        .googleMap {
          width: 100%;
        }
        .circle {
          position: absolute;
          bottom: 125px;
          left: 157px;
        }
      }
    }
  }
}
