@import "./styles";

.form__section {
  @include width1440();
  margin-top: 198px;
  min-height: 617px;
  position: relative;

  .form__container {
    @include paddingLeftRight();
    display: flex;
    justify-content: space-between;
    .form__right {
      position: relative;
      .googleMap {
        position: absolute;
        bottom: 0;
        right: 0;
      }
      .circle {
        position: absolute;
        bottom: 170px;
        left: -343px;
      }
    }
    .form__left {
      width: 441px;
      .form__title {
        @include bigTitle();
        margin-bottom: 94px;
      }
      form {
        display: flex;
        flex-direction: column;
        .form__input {
          @include formText();
          border: 0;
          border-bottom: 1px solid #9da8b6;
          outline-width: 0;
          background-color: transparent;
          margin: 4px 0 28px 0;
        }
        .form__textarea {
          @include formText();
          border: 0;
          outline-width: 0;
          background-color: transparent;
          height: 143px;
        }
        .form__text {
          @include extraSmallText();
        }
        .form__button {
          @include primaryBtn();
          width: 225px;
        }
        .form__checkbox {
          margin-left: -17px;
          height: 64px;
          margin-bottom: 35px;
          @include flexCenter();
          .checkbox__text {
            @include formText();
            margin-top: -15px;
          }
        }
      }
    }
  }
}
