@import "./styles";

/* HEADER */
.header {
  @include flexCenter();
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  padding: 28px 66px 0 55px;
  font-family: $fontInter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  .hamburger {
    position: absolute;
    right: 40px;
    display: none;
    cursor: pointer;
    .hamburger__line {
      background-color: #303031;
      width: 20px;
      height: 3px;
      margin: 4px 0;
    }
  }
  nav {
    @include flexCenter();
    justify-content: space-between;
    width: 100vw;
    margin-left: 125px;
    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 53px;
        a {
          color: #303031;
          text-decoration: none;
        }
      }
    }
  }

  .header__logo {
    width: 100px;
  }
  .header__contact {
    display: flex;
    .header__contactElement {
      @include flexCenter();
      margin-right: 38px;
      cursor: pointer;
      img {
        margin-right: 5px;
      }
    }

    .header__button {
      background: transparent;
      width: 102px;
      height: 34px;
      border: 1.5px solid $primaryBtn;
      border-radius: 5px;
      margin-left: 12px;
      cursor: pointer;
      transition: $transitionBtn;
      &:hover {
        background: $primaryBtn;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 10px;
    nav {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }
}
