$primaryBtn: #0052b4;
$transitionBtn: 0.2s all ease-in-out;
$fontInter: "Inter";
$fontRoboto: "Quicksand";

@mixin width1440 {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 210px;
}

@mixin paddingLeftRight {
  padding-left: 79px;
  padding-right: 69px;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin primaryBtn {
  width: 145px;
  height: 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #0052b4;
  color: #ffffff;
}

@mixin orangeText {
  position: absolute;
  top: 210px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff7616;
}

@mixin bigTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #00367a;
}

@mixin smallTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 175.1%;
  color: #00367a;
}

@mixin bigText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 175.1%;
  color: #9da8b6;
}

@mixin smallText {
  font-family: "Quicksand";
  font-size: 16px;
  line-height: 175.1%;
  color: #9da8b6;
}

@mixin formText {
  font-family: "Quicksand";
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #394350;
  padding-bottom: 3px;
}

@mixin extraSmallText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: rgba(152, 152, 152, 0.75);
}

@mixin footerText {
  font-size: 12.8px;
  line-height: 22px;
  font-weight: 100;
}

@mixin footerTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175.1%;
  color: #00367a;
}
