* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.verticalLine {
  position: absolute;
  left: 210px;
  top: 0px;
}

.arrow__down {
  position: absolute;
  left: 99px;
  top: 731px;
  cursor: pointer;
}

/* za media query */
/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  padding: 28px 66px 0 55px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header .hamburger {
  position: absolute;
  right: 40px;
  display: none;
  cursor: pointer;
}

.header .hamburger .hamburger__line {
  background-color: #303031;
  width: 20px;
  height: 3px;
  margin: 4px 0;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  margin-left: 125px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header nav ul li {
  margin-right: 53px;
}

.header nav ul li a {
  color: #303031;
  text-decoration: none;
}

.header .header__logo {
  width: 100px;
}

.header .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__contact .header__contactElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 38px;
  cursor: pointer;
}

.header .header__contact .header__contactElement img {
  margin-right: 5px;
}

.header .header__contact .header__button {
  background: transparent;
  width: 102px;
  height: 34px;
  border: 1.5px solid #0052b4;
  border-radius: 5px;
  margin-left: 12px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.header .header__contact .header__button:hover {
  background: #0052b4;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .header nav {
    display: none;
  }
  .header .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 425px) {
  .header .verticalLine {
    display: none;
  }
  .header .arrow__down {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .header {
    padding: 0 25px;
    padding-top: 15px;
  }
}

/* za media query */
/* BANNER */
.banner {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 181px;
  overflow: hidden;
}

.banner .banner__container {
  padding-left: 79px;
  padding-right: 69px;
}

.banner .banner__container .banner__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 61px;
  line-height: 137%;
  color: #000000;
  margin-bottom: 57px;
}

.banner .banner__container .banner__text {
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 175.1%;
  color: #9da8b6;
  margin-bottom: 20px;
}

.banner .banner__container .banner__break {
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
  margin-left: 14px;
}

.banner .banner__container .banner__endText {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff7616;
}

@media only screen and (max-width: 1024px) {
  .banner {
    padding-top: 100px;
  }
  .banner .banner__container .banner__title {
    font-size: 55px;
  }
  .banner .banner__container .banner__break {
    margin-top: 100px;
  }
  .banner .banner__container .banner__break .banner__line {
    width: 180px;
  }
}

@media only screen and (max-width: 768px) {
  .banner {
    padding-top: 50px;
  }
  .banner .banner__container {
    width: 100%;
  }
  .banner .banner__container .banner__title {
    margin-bottom: 37px;
  }
  .banner .banner__container .banner__text {
    font-size: 17px;
    margin-bottom: 27px;
  }
  .banner .banner__break {
    width: 100%;
    margin-top: 100px;
  }
  .banner .banner__break .banner__line {
    width: 110px;
  }
}

@media only screen and (max-width: 425px) {
  .banner {
    padding-top: 50px;
    padding-left: 55px;
    padding-right: 25px;
  }
  .banner .banner__container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .banner .banner__container .banner__title {
    font-size: 50px;
    margin-bottom: 37px;
  }
  .banner .banner__container .banner__text {
    font-size: 17px;
    margin-bottom: 27px;
  }
  .banner .banner__container .banner__break {
    width: 100%;
    margin-top: 70px;
  }
  .banner .banner__container .banner__break .banner__line {
    width: 50px;
  }
}

@media only screen and (max-width: 375px) {
  .banner {
    padding-top: 50px;
    padding: 0 25px;
    margin-top: 40px;
  }
  .banner .banner__container .banner__title {
    font-size: 45px;
  }
}

/* za media query */
.content {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 210px;
  padding-top: 169px;
  padding-right: 69px;
}

.content .content__banner {
  padding-left: 79px;
  margin-bottom: 107px;
}

.content .content__banner .content__bannerTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #00367a;
  margin-bottom: 36px;
}

.content .content__banner .content___bannerText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 175.1%;
  color: #9da8b6;
}

.content .content__cardRow {
  padding-left: 79px;
  min-width: 300px;
  max-width: 100%;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

.content .content__cardRow .content__cardText {
  width: 488px;
}

.content .content__cardRow .content__cardText .content__cardTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 175.1%;
  color: #00367a;
}

.content .content__cardRow .content__cardText .content__cardText {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 175.1%;
  color: #9da8b6;
  margin-top: 39px;
}

.content .content__cardRow .content__cardImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .row__first .cardImg {
  position: absolute;
}

.content .row__first .cardImg .cardImg__main {
  opacity: 0.5;
}

.content .row__first .content__cardImg {
  position: relative;
}

.content .row__first .content__cardImg .content__modalCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 249px;
  height: 96px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  z-index: 22;
  margin-top: 47px;
  margin-left: 82px;
}

.content .row__first .content__cardImg .content__modalCard p {
  width: 200px;
  height: 66px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 12.8px;
  line-height: 175.1%;
  color: #666666;
  margin: 14px 6px 16px 0;
}

.content .row__first .content__cardImg .content__modalCard img {
  margin: 19px 16px 65px 14px;
}

.content .row__first .content__cardImg .cardImg__circle {
  position: absolute;
  bottom: 24px;
  right: 15px;
}

.content .row__second .cardImg {
  position: relative;
}

.content .row__second .cardImg .cardImg__circleLeft {
  position: absolute;
  top: 60px;
  left: -4px;
}

.content .row__second .cardImg .cardImg__circleRight {
  position: absolute;
  top: 70px;
  right: 23px;
}

.content .row__third .cardImg {
  position: relative;
}

.content .row__third .cardImg .cardImg__main {
  opacity: 0.5;
}

.content .row__third .cardImg .cardImg__circleLeft {
  position: absolute;
  top: 63px;
  right: 4.5px;
}

.content .row__third .cardImg .cardImg__circleRight {
  position: absolute;
  bottom: 45px;
  right: 125px;
}

@media only screen and (max-width: 1024px) {
  .content .content__cardRow .content__cardText {
    width: 320px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding-top: 100px;
  }
  .content .content__cardRow {
    padding-right: 0;
    padding-left: 79px;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .content__cardRow .content__cardText {
    width: 420px;
    margin-bottom: 50px;
  }
  .content .row__first {
    margin-bottom: 200px;
  }
  .content .row__second .cardImg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content .row__second .content__cardText {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .content {
    padding: 100px 25px 0 55px;
  }
  .content .content__banner {
    padding-left: 0;
  }
  .content .content__cardRow {
    padding-left: 0;
    padding-right: 25px;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .content__cardRow .content__cardText {
    width: 100%;
    margin-bottom: 20px;
  }
  .content .row__first {
    margin-bottom: 200px;
  }
  .content .row__second .cardImg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content .row__second .content__cardText {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 375px) {
  .content {
    padding: 0 25px;
    margin-top: 50px;
  }
  .content .content__banner .content__bannerTitle {
    font-size: 40px;
  }
}

@media only screen and (max-width: 320px) {
  .content .content__cardRow .cardImg .cardImg__main {
    width: 100%;
  }
  .content .row__first .content__cardImg {
    padding-left: 25px;
  }
  .content .row__first .content__cardImg .content__modalCard {
    margin: 0;
  }
}

/* za media query */
.carousel {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 210px;
}

.carousel .carousel__container {
  position: relative;
  max-width: 1229px !important;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0;
  padding-left: 79px;
  min-height: 900px;
  display: flex;
  background-color: #fff;
}

.carousel .carousel__container .navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 160px;
}

.carousel .carousel__container .navigation .glider-prev {
  position: absolute;
  left: -25px;
  top: 7.5px;
}

.carousel .carousel__container .navigation .glider-next {
  position: absolute;
  top: 7.5px;
  left: 42px;
}

.carousel .carousel__container .glider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.carousel .carousel__container .glider .carousel__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw !important;
  padding-top: 110px;
}

.carousel .carousel__container .glider .carousel__card .navigation__text {
  position: absolute;
  top: 210px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff7616;
}

.carousel .carousel__container .glider .carousel__card .carousel__left {
  width: 450px;
  padding-top: 60px;
}

.carousel .carousel__container .glider .carousel__card .carousel__left .carousel__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #00367a;
}

.carousel .carousel__container .glider .carousel__card .carousel__left .carousel__boldText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 175.1%;
  color: #00367a;
  margin: 75px 0 36px 0;
}

.carousel .carousel__container .glider .carousel__card .carousel__left .carousel__text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 175.1%;
  color: #9da8b6;
}

.carousel .carousel__container .glider .carousel__right {
  position: relative;
  margin-right: 139px;
  margin-top: 170px;
}

.carousel .carousel__container .glider .carousel__right .cardImg {
  opacity: 0.5;
}

.carousel .carousel__container .glider .carousel__right .modalCard {
  background-color: #fff;
  -webkit-box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 221px;
  height: 45px;
}

.carousel .carousel__container .glider .carousel__right .modalCard .modalCard__drop {
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel .carousel__container .glider .carousel__right .modalCard .modal__text {
  width: 161px;
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  line-height: 152.1%;
  font-weight: 600;
  color: #9da8b6;
}

.carousel .carousel__container .glider #card__first {
  position: relative;
}

.carousel .carousel__container .glider #card__first .carousel__right {
  position: relative;
}

.carousel .carousel__container .glider #card__first .carousel__right .card__left {
  position: absolute;
  top: 30px;
  left: -20px;
}

.carousel .carousel__container .glider #card__first .carousel__right .card__right {
  position: absolute;
  bottom: 6px;
  left: 73px;
}

.carousel .carousel__container .glider #card__second {
  margin-top: -80px;
}

.carousel .carousel__container .glider #card__second .carousel__right {
  position: relative;
}

.carousel .carousel__container .glider #card__second .carousel__right .card__left {
  position: absolute;
  top: 222px;
  left: -30px;
}

.carousel .carousel__container .glider #card__second .carousel__right .card__right {
  position: absolute;
  top: 18px;
  left: 165px;
}

.carousel .carousel__container .glider #card__third {
  margin-top: -110px;
}

.carousel .carousel__container .glider #card__third .carousel__right {
  position: relative;
}

.carousel .carousel__container .glider #card__third .carousel__right .card__left {
  position: absolute;
  top: 177px;
  left: -8px;
}

.carousel .carousel__container .glider #card__third .carousel__right .card__right {
  position: absolute;
  top: 7px;
  left: 70px;
}

.carousel .carousel__container .glider #card__fourth {
  margin-top: -70px;
}

.carousel .carousel__container .glider #card__fourth .carousel__right .card__left {
  position: absolute;
  top: 180px;
  left: -48px;
}

.carousel .carousel__container .glider #card__fourth .carousel__right .card__right {
  position: absolute;
  top: 7px;
  left: -20px;
}

@media only screen and (max-width: 1024px) {
  #card__first {
    padding-top: 0px;
  }
  #card__first .carousel__left {
    padding-top: 0px;
    width: 600px;
  }
  #card__first .carousel__left .carousel__title {
    margin-bottom: 130px;
    padding-bottom: 20px;
  }
  #card__first .carousel__left .carousel__boldText {
    margin-top: 0;
    margin-bottom: 36px;
  }
  #card__first .carousel__right {
    margin-top: 40px;
    margin-left: 50px;
  }
  #card__second {
    padding-top: 0px;
  }
  #card__second .carousel__left {
    padding-top: 0px;
    width: 600px;
  }
  #card__second .carousel__left .carousel__title {
    margin-bottom: 130px;
    padding-bottom: 20px;
  }
  #card__second .carousel__left .carousel__boldText {
    margin-top: 0;
    margin-bottom: 36px;
  }
  #card__second .carousel__right {
    margin-top: 40px;
    margin-left: 50px;
  }
  #card__third {
    padding-top: 0px;
  }
  #card__third .carousel__left {
    padding-top: 0px;
    width: 600px;
  }
  #card__third .carousel__left .carousel__title {
    margin-bottom: 130px;
    padding-bottom: 20px;
  }
  #card__third .carousel__left .carousel__boldText {
    margin-top: 0;
    margin-bottom: 36px;
  }
  #card__third .carousel__right {
    margin-top: 40px;
    margin-left: 50px;
  }
  #card__fourth {
    padding-top: 0px;
  }
  #card__fourth .carousel__left {
    padding-top: 0px;
    width: 600px;
  }
  #card__fourth .carousel__left .carousel__title {
    margin-bottom: 130px;
    padding-bottom: 20px;
  }
  #card__fourth .carousel__left .carousel__boldText {
    margin-top: 0;
    margin-bottom: 36px;
  }
  #card__fourth .carousel__right {
    margin-top: 40px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .carousel #card__first {
    padding-top: 0px;
  }
  .carousel #card__first .carousel__left {
    width: 600px;
  }
  .carousel #card__first .carousel__left .carousel__title {
    margin-bottom: 110px;
    padding-top: 5px;
  }
  .carousel #card__first .carousel__left .carousel__boldText {
    margin-top: 0;
    margin-bottom: 36px;
  }
  .carousel #card__first .carousel__right {
    margin-top: 0px;
    margin-left: 50px;
  }
  .carousel #card__second {
    padding-top: 0px;
  }
  .carousel #card__second .carousel__left {
    width: 600px;
  }
  .carousel #card__second .carousel__left .carousel__title {
    margin-bottom: 110px;
    padding-top: 5px;
  }
  .carousel #card__second .carousel__left .carousel__boldText {
    margin-top: 0;
    margin-bottom: 36px;
  }
  .carousel #card__second .carousel__right {
    margin-top: 0px;
    margin-left: 50px;
  }
  .carousel #card__third {
    padding-top: 0px;
  }
  .carousel #card__third .carousel__left {
    width: 600px;
  }
  .carousel #card__third .carousel__left .carousel__title {
    margin-bottom: 110px;
    padding-top: 5px;
  }
  .carousel #card__third .carousel__left .carousel__boldText {
    margin-top: 0;
    margin-bottom: 36px;
  }
  .carousel #card__third .carousel__right {
    margin-top: 0px;
    margin-left: 50px;
  }
  .carousel #card__fourth {
    padding-top: 0px;
  }
  .carousel #card__fourth .carousel__left {
    width: 600px;
  }
  .carousel #card__fourth .carousel__left .carousel__title {
    margin-bottom: 110px;
    padding-top: 5px;
  }
  .carousel #card__fourth .carousel__left .carousel__boldText {
    margin-top: 0;
    margin-bottom: 36px;
  }
  .carousel #card__fourth .carousel__right {
    margin-top: 0px;
    margin-left: 50px;
  }
}

@media only screen and (max-width: 425px) {
  .carousel {
    padding-left: 0;
  }
  .carousel .carousel__container {
    padding-left: 55px;
    padding-right: 25px;
  }
  .carousel .carousel__container .carousel__title {
    margin-top: 0px;
  }
  .carousel .carousel__container .glider .carousel__right {
    width: 300px;
    margin: 0;
  }
  .carousel #card__first .carousel__right .modalCard {
    margin-left: -30px;
  }
  .carousel #card__second .carousel__right .card__right {
    margin-left: -130px;
  }
  .carousel #card__third .carousel__right .card__right {
    margin-left: -20px;
  }
  .carousel #card__fourth .carousel__right .card__right {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 375px) {
  .carousel .carousel__container {
    padding: 0 25px;
  }
  .carousel .carousel__container .carousel__title {
    margin-top: 0px;
    font-size: 43px !important;
  }
  .carousel .carousel__container .glider .carousel__right {
    width: 300px;
    margin: 50px !important;
  }
  .carousel #card__first .carousel__right .modalCard {
    margin-left: -30px;
  }
  .carousel #card__second .carousel__right .card__right {
    margin-left: -130px;
  }
  .carousel #card__third .carousel__right .card__right {
    margin-left: -20px;
  }
  .carousel #card__fourth .carousel__right .card__right {
    margin-left: 0px;
  }
}

/* za media query */
.achievements {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 210px;
  margin-top: 131px;
}

.achievements .achievements__container {
  padding-left: 79px;
  padding-right: 69px;
}

.achievements .achievements__container .achievements__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #00367a;
  margin-bottom: 30px;
}

.achievements .achievements__container .achievements__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 175.1%;
  color: #9da8b6;
  margin-bottom: 130px;
}

.achievements .achievements__container .achievements__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 94%;
}

.achievements .achievements__container .achievements__row .achievements__card {
  position: relative;
  width: 225px;
  height: 105px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);
  border-radius: 5px;
  padding-top: 36px;
  padding-left: 23px;
}

.achievements .achievements__container .achievements__row .achievements__card .achievements__number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 30px;
  color: #00367a;
}

.achievements .achievements__container .achievements__row .achievements__card .achievements__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 175.1%;
  color: #9da8b6;
}

.achievements .achievements__container .achievements__row .achievements__card .cardImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: -25px;
  left: 23px;
  width: 50px;
  height: 50px;
  background: #fbfbfb;
  border: 1px solid #f0f0f0;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
  .achievements__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .achievements__row .achievements__card:nth-child(1) {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .achievements {
    padding-left: 210px;
    padding-right: 6px;
  }
  .achievements .achievements__row .achievements__card {
    margin-bottom: 50px;
  }
  .achievements .achievements__row .achievements__card:nth-child(4) {
    margin-bottom: -30px;
  }
}

@media only screen and (max-width: 425px) {
  .achievements {
    padding-left: 0;
  }
  .achievements .achievements__container {
    padding-left: 55px;
    padding-right: 25px;
  }
  .achievements .achievements__row .achievements__card {
    margin-bottom: 40px;
  }
  .achievements .achievements__row .achievements__card:nth-child(4) .achievements__text {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 375px) {
  .achievements {
    padding-left: 0;
    margin-top: 80px;
  }
  .achievements .achievements__container {
    padding: 0 25px;
  }
  .achievements .achievements__container .achievements__title {
    font-size: 40px;
  }
  .achievements .achievements__row .achievements__card {
    margin-bottom: 40px;
  }
  .achievements .achievements__row .achievements__card:nth-child(4) .achievements__text {
    margin-bottom: 0;
  }
}

/* za media query */
.form__section {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 210px;
  margin-top: 198px;
  position: relative;
}

.form__section .form__container {
  padding-left: 79px;
  padding-right: 69px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__section .form__container .form__right {
  position: relative;
}

.form__section .form__container .form__right .googleMap {
  margin-top: 170px;
}

.form__section .form__container .form__right .circle {
  position: absolute;
  bottom: 172px;
  left: 220px;
}

.form__section .form__container .form__left {
  width: 441px;
}

.form__section .form__container .form__left .form__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #00367a;
  margin-bottom: 36px;
}

.form__section .form__container .form__left form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__section .form__container .form__left form .form__input {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #394350;
  padding-bottom: 3px;
  border: 0;
  border-bottom: 1px solid #9da8b6;
  outline-width: 0;
  background-color: transparent;
  margin: 4px 0 28px 0;
}

.form__section .form__container .form__left form .form__textarea {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #394350;
  padding-bottom: 3px;
  border: 0;
  outline-width: 0;
  background-color: transparent;
  height: 143px;
}

.form__section .form__container .form__left form .form__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: rgba(152, 152, 152, 0.75);
}

.form__section .form__container .form__left form .form__button {
  font-family: "Inter";
  width: 145px;
  height: 45px;
  font-style: normal;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  background: #0052b4;
  color: #ffffff;
  width: 225px;
}

.form__section .form__container .form__left form .form__checkbox {
  margin-left: -17px;
  height: 64px;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__section .form__container .form__left form .form__checkbox .checkbox__text {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #394350;
  padding-bottom: 3px;
  margin-top: -15px;
}

@media only screen and (max-width: 1024px) {
  .form__section .form__container .form__right .googleMap {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .form__section {
    padding-left: 210px;
    padding-right: 69px;
  }
  .form__section .form__container .form__right .googleMap {
    width: 100%;
  }
  .form__section .form__container .form__right .circle {
    position: absolute;
    bottom: 175px;
    left: 220px;
  }
}

@media only screen and (max-width: 425px) {
  .form__section {
    padding-left: 55px;
    padding-right: 25px;
    margin-top: 140px;
  }
  .form__section .form__container {
    padding: 0;
  }
}

@media only screen and (max-width: 375px) {
  .form__section {
    padding: 0 25px;
    margin-top: 140px;
  }
  .form__section .form__container .form__left .form__title {
    font-size: 40px;
  }
  .form__section .form__container .form__right .circle {
    position: absolute;
    bottom: 98px;
    left: 122px;
  }
}

/* za media query */
footer {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 210px;
  position: relative;
  height: 374px;
}

footer .hrLineTop {
  max-width: 1160px;
  position: absolute;
  top: 41px;
  left: 210px;
}

footer .hrLineBottom {
  max-width: 1160px;
  position: absolute;
  left: 210px;
  bottom: -45px;
}

footer .footer__container {
  padding-left: 79px;
  padding-right: 69px;
  padding-top: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 74px;
}

footer .footer__container .footer__left {
  width: 345px;
}

footer .footer__container .footer__left .footer__logo {
  margin-left: 3px;
  margin-bottom: 8px;
}

footer .footer__container .footer__left .footer__text {
  height: 83px;
  font-family: "Montserrat", sans-serif;
  font-size: 12.8px;
  line-height: 22px;
  color: #9da8b6;
  margin-bottom: 12px;
  font-weight: 300;
}

footer .footer__container .footer__left .footer__contact {
  font-family: "Montserrat", sans-serif;
  font-size: 12.8px;
  line-height: 22px;
  color: #00367a;
  margin-bottom: 19px;
}

footer .footer__container .footer__left .footer__contact img {
  margin-right: 9px;
}

footer .footer__container .footer__right {
  width: 438px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__container .footer__right .footer__linkTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 175.1%;
  color: #00367a;
  margin-bottom: 6px;
}

footer .footer__container .footer__right .footer_link {
  list-style: none;
  height: 31px;
  margin-bottom: 4px;
}

footer .footer__container .footer__right .footer_link a {
  font-family: "Montserrat", sans-serif;
  font-size: 12.8px;
  line-height: 22px;
  color: #9da8b6;
  text-decoration: none;
}

footer .footer__bottom {
  padding-left: 79px;
  padding-right: 69px;
  font-family: "Montserrat", sans-serif;
  font-size: 12.8px;
  line-height: 22px;
  color: #9da8b6;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 27px;
  margin-bottom: 15px;
}

footer .footer__bottom .footer__bottomText {
  display: block;
}

footer .footer__bottom .footer__bottomRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__bottom .footer__bottomRight .footer__bottomText:nth-child(2) {
  margin: 0 112px;
}

@media only screen and (max-width: 1024px) {
  footer .hrLineTop {
    width: 814px;
  }
  footer .hrLineBottom {
    width: 814px;
  }
  footer .footer__container {
    padding-top: 100px;
  }
  footer .footer__bottom .footer__bottomRight .footer__bottomText:nth-child(2) {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    padding-left: 210px;
    padding-right: 69px;
  }
  footer .hrLineTop {
    width: 558px;
  }
  footer .hrLineBottom {
    width: 558px;
  }
  footer .footer__container {
    width: 100%;
    padding-right: 0;
  }
  footer .footer__container {
    width: 100%;
    margin-bottom: 54px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 425px) {
  footer {
    height: 100%;
    padding-left: 55px;
    padding-right: 25px;
  }
  footer .hrLineTop {
    display: none;
  }
  footer .hrLineBottom {
    display: none;
  }
  .footer__bottom {
    padding: 0 !important;
  }
  .footer__container {
    width: 100%;
    padding: 100px 0 0 0 !important;
    margin-bottom: 54px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 375px) {
  footer {
    padding: 0 25px;
  }
}

@media only screen and (max-width: 320px) {
  footer {
    padding: 0 14px;
  }
  footer .footer__container {
    margin-bottom: 20px;
  }
  footer .footer__container .footer__left .footer__contact {
    margin: 30px 0 30px 0;
  }
  footer .footer__container .footer__right {
    width: 100%;
  }
  footer .footer__container .footer__right .footer__linkTitle {
    font-size: 13px;
  }
  footer .footer__container .footer__right .footer_link a {
    font-size: 11px;
  }
  footer .footer__bottom .footer__bottomText {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */