* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.verticalLine {
  position: absolute;
  left: 210px;
  top: 0px;
}

.arrow__down {
  position: absolute;
  left: 99px;
  top: 731px;
  cursor: pointer;
}

@import "./header";
@import "./banner";
@import "./content";
@import "./carousel";
@import "./achievements";
@import "./form";
