* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.verticalLine {
  position: absolute;
  left: 210px;
  top: 0px;
}

.arrow__down {
  position: absolute;
  left: 99px;
  top: 731px;
  cursor: pointer;
}

/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 28px 66px 0 55px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-left: 125px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header nav ul li {
  margin-right: 53px;
}

.header nav ul li a {
  color: #303031;
  text-decoration: none;
}

.header .header__logo {
  width: 100px;
}

.header .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__contact .header__contactElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 38px;
  cursor: pointer;
}

.header .header__contact .header__contactElement img {
  margin-right: 5px;
}

.header .header__contact .header__button {
  background: transparent;
  width: 102px;
  height: 34px;
  border: 1.5px solid #0052b4;
  border-radius: 5px;
  margin-left: 12px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.header .header__contact .header__button:hover {
  background: #0052b4;
  color: #fff;
}

/* BANNER */
.banner {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 280px;
  padding-top: 181px;
  overflow: hidden;
}

.banner .banner__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 61px;
  line-height: 137%;
  color: #000000;
  margin-bottom: 57px;
}

.banner .banner__text {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 175.1%;
  color: #9da8b6;
  margin-bottom: 20px;
  width: 50%;
}

.banner .banner__break {
  width: 90%;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
  margin-left: 14px;
}

.banner .banner__endText {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff7616;
}

.content {
  width: 75%;
  margin-left: 280px;
  margin-top: 169px;
}

.content .content__banner {
  width: 95%;
  margin-bottom: 107px;
}

.content .content__banner .content__bannerTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #00367a;
  margin-bottom: 36px;
}

.content .content__banner .content___bannerText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 175.1%;
  color: #9da8b6;
}

.content .content__cardRow {
  width: 920px;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

.content .content__cardRow .content__cardText {
  width: 338px;
}

.content .content__cardRow .content__cardText h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 175.1%;
  color: #00367a;
}

.content .content__cardRow .content__cardText p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 175.1%;
  color: #9da8b6;
  margin-top: 39px;
}

.content .content__cardRow .content__cardImg {
  width: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .row__first .cardImg {
  position: absolute;
}

.content .row__first .cardImg .cardImg__main {
  opacity: 0.5;
}

.content .row__first .content__cardImg {
  position: relative;
}

.content .row__first .content__cardImg .content__modalCard {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 249px;
  height: 96px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  z-index: 22;
  margin-top: 47px;
  margin-left: 82px;
}

.content .row__first .content__cardImg .content__modalCard p {
  width: 200px;
  height: 66px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12.8px;
  line-height: 175.1%;
  color: #666666;
  margin: 14px 6px 16px 16px;
}

.content .row__first .content__cardImg .content__modalCard img {
  margin: 19px 0 65px 14px;
}

.content .row__first .content__cardImg .cardImg__circle {
  position: absolute;
  bottom: 24px;
  right: 15px;
}

.content .row__second .cardImg {
  position: relative;
}

.content .row__second .cardImg .cardImg__circleLeft {
  position: absolute;
  top: 60px;
  left: -4px;
}

.content .row__second .cardImg .cardImg__circleRight {
  position: absolute;
  top: 70px;
  right: 23px;
}

.content .row__third .cardImg {
  position: relative;
}

.content .row__third .cardImg .cardImg__main {
  opacity: 0.5;
}

.content .row__third .cardImg .cardImg__circleLeft {
  position: absolute;
  top: 63px;
  right: 4.5px;
}

.content .row__third .cardImg .cardImg__circleRight {
  position: absolute;
  bottom: 45px;
  right: 125px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 280px;
  display: flex;
}

.carousel .navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel .navigation .glider-prev {
  position: absolute;
  left: -25px;
  top: 7.5px;
}

.carousel .navigation .glider-next {
  position: absolute;
  top: 7.5px;
  left: 42px;
}

.carousel .glider {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.carousel .glider .carousel__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw !important;
  padding-right: 5%;
  padding-top: 110px;
}

.carousel .glider .carousel__card .carousel__text {
  width: 450px;
}

.carousel .glider .carousel__card .carousel__text h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #00367a;
}

.carousel .glider .carousel__card .carousel__text h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 175.1%;
  color: #00367a;
  margin: 75px 0 36px 0;
}

.carousel .glider .carousel__card .carousel__text p {
  font-family: "Quicksand";
  font-size: 16px;
  line-height: 175.1%;
  color: #9da8b6;
}

.carousel .glider .carousel__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.carousel .glider .carousel__img .cardImg {
  opacity: 0.5;
}

.carousel .glider .carousel__img .modalCard {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.09);
          box-shadow: 3px 7px 4px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 221px;
  height: 45px;
}

.carousel .glider .carousel__img .modalCard .modalCard__drop {
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carousel .glider .carousel__img .modalCard p {
  width: 161px;
  margin-top: 5px;
  font-family: "Quicksand";
  font-size: 11px;
  line-height: 152.1%;
  font-weight: 600;
  color: #9da8b6;
}

.carousel .glider #card__first .carousel__img .card__left {
  position: absolute;
  top: 73px;
  left: -40px;
}

.carousel .glider #card__first .carousel__img .card__right {
  position: absolute;
  bottom: 56px;
  left: 70px;
}

.carousel .glider #card__first .navigation__text {
  left: 0;
  position: absolute;
  top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff7616;
}

.carousel .glider #card__second .carousel__img .card__left {
  position: absolute;
  bottom: 90px;
  left: -30px;
}

.carousel .glider #card__second .carousel__img .card__right {
  position: absolute;
  top: 108px;
  left: 170px;
}

.carousel .glider #card__second .navigation__text {
  position: absolute;
  top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff7616;
}

.carousel .glider #card__third .carousel__img .card__left {
  position: absolute;
  bottom: 122px;
  left: -8px;
}

.carousel .glider #card__third .carousel__img .card__right {
  position: absolute;
  top: 108px;
  left: 70px;
}

.carousel .glider #card__third .navigation__text {
  position: absolute;
  top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff7616;
}

.carousel .glider #card__fourth .carousel__img .card__left {
  position: absolute;
  bottom: 138px;
  left: -48px;
}

.carousel .glider #card__fourth .carousel__img .card__right {
  position: absolute;
  top: 90px;
  left: -20px;
}

.carousel .glider #card__fourth .navigation__text {
  position: absolute;
  top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff7616;
}
/*# sourceMappingURL=style.css.map */