* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

.verticalLine {
  position: absolute;
  left: 210px;
  top: 0px;
}

.arrow__down {
  position: absolute;
  left: 99px;
  top: 731px;
  cursor: pointer;
}

/* HEADER */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding: 28px 66px 0 55px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header .hamburger {
  position: absolute;
  right: 40px;
  display: none;
  cursor: pointer;
}

.header .hamburger .hamburger__line {
  background-color: #303031;
  width: 20px;
  height: 3px;
  margin: 4px 0;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  margin-left: 125px;
}

.header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header nav ul li {
  margin-right: 53px;
}

.header nav ul li a {
  color: #303031;
  text-decoration: none;
}

.header .header__logo {
  width: 100px;
}

.header .header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__contact .header__contactElement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 38px;
  cursor: pointer;
}

.header .header__contact .header__contactElement img {
  margin-right: 5px;
}

.header .header__contact .header__button {
  background: transparent;
  width: 102px;
  height: 34px;
  border: 1.5px solid #0052b4;
  border-radius: 5px;
  margin-left: 12px;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.header .header__contact .header__button:hover {
  background: #0052b4;
  color: #fff;
}

@media only screen and (max-width: 1024px) {
  .header {
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 10px;
  }
  .header nav {
    display: none;
  }
  .header .hamburger {
    display: block;
  }
}

/* BANNER */
.banner {
  min-width: 300px;
  max-width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 280px;
  padding-top: 181px;
  padding-right: 5%;
  overflow: hidden;
}

.banner .banner__title {
  min-width: 300px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 61px;
  line-height: 137%;
  color: #000000;
  margin-bottom: 57px;
}

.banner .banner__text {
  width: 90%;
  max-width: 500px;
  font-family: "Roboto";
  font-size: 20px;
  line-height: 175.1%;
  color: #9da8b6;
  margin-bottom: 20px;
}

.banner .banner__break {
  max-width: 90%;
  margin-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
  margin-left: 14px;
}

.banner .banner__endText {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ff7616;
}

@media only screen and (max-width: 1024px) {
  .banner {
    padding-top: 100px;
  }
  .banner .banner__title {
    font-size: 50px;
  }
  .banner .banner__break .banner__line {
    width: 180px;
  }
}

@media only screen and (max-width: 768px) {
  .banner .banner__title {
    font-size: 40px;
  }
  .banner .banner__break .banner__line {
    width: 110px;
  }
}

.content {
  width: 75%;
  min-width: 300px;
  margin-left: 211px;
  margin-top: 169px;
  padding-left: 74px;
}

.content .content__banner {
  width: 95%;
  margin-bottom: 107px;
}

.content .content__banner .content__bannerTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #00367a;
  margin-bottom: 36px;
}

.content .content__banner .content___bannerText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 175.1%;
  color: #9da8b6;
}

.content .content__cardRow {
  min-width: 300px;
  max-width: 100%;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 140px;
}

.content .content__cardRow .content__cardText {
  width: 488px;
}

.content .content__cardRow .content__cardText h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 175.1%;
  color: #00367a;
}

.content .content__cardRow .content__cardText p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 175.1%;
  color: #9da8b6;
  margin-top: 39px;
}

.content .content__cardRow .content__cardImg {
  width: 338px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .row__first .cardImg {
  position: absolute;
}

.content .row__first .cardImg .cardImg__main {
  opacity: 0.5;
}

.content .row__first .content__cardImg {
  position: relative;
}

.content .row__first .content__cardImg .content__modalCard {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 249px;
  height: 96px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  z-index: 22;
  margin-top: 47px;
  margin-left: 82px;
}

.content .row__first .content__cardImg .content__modalCard p {
  width: 200px;
  height: 66px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12.8px;
  line-height: 175.1%;
  color: #666666;
  margin: 14px 6px 16px 16px;
}

.content .row__first .content__cardImg .content__modalCard img {
  margin: 19px 0 65px 14px;
}

.content .row__first .content__cardImg .cardImg__circle {
  position: absolute;
  bottom: 24px;
  right: 15px;
}

.content .row__second .cardImg {
  position: relative;
}

.content .row__second .cardImg .cardImg__circleLeft {
  position: absolute;
  top: 60px;
  left: -4px;
}

.content .row__second .cardImg .cardImg__circleRight {
  position: absolute;
  top: 70px;
  right: 23px;
}

.content .row__third .cardImg {
  position: relative;
}

.content .row__third .cardImg .cardImg__main {
  opacity: 0.5;
}

.content .row__third .cardImg .cardImg__circleLeft {
  position: absolute;
  top: 63px;
  right: 4.5px;
}

.content .row__third .cardImg .cardImg__circleRight {
  position: absolute;
  bottom: 45px;
  right: 125px;
}

@media only screen and (max-width: 1024px) {
  .content .content__cardRow .content__cardText {
    width: 320px;
  }
}

@media only screen and (max-width: 768px) {
  .content .content__cardRow {
    width: 420px;
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .content .content__cardRow .content__cardText {
    width: 520px;
    margin-bottom: 50px;
  }
  .content .row__first {
    margin-bottom: 390px;
  }
  .content .row__second .cardImg {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .content .row__second .content__cardText {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */